<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ThisIsWin11.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ThisIsWin11.Properties.Settings>
            <setting name="colorDarkBackground" serializeAs="String">
                <value>32, 33, 36</value>
            </setting>
            <setting name="colorDarkForeground" serializeAs="String">
                <value>204, 204, 204</value>
            </setting>
            <setting name="darkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colorLightBackground" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="colorLightForeground" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="colorLightForegroundControls" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="updateNeeded" serializeAs="String">
                <value>True</value>
            </setting>
        </ThisIsWin11.Properties.Settings>
    </userSettings>
</configuration>